<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <couchbase>
    <servers bucket="ShoppingCart" bucketPassword="testing">
      <add uri="http://127.0.0.1:8091/pools"/>
    </servers>
  </couchbase>
  <castle>
    <components>
      <component id="ICart"
                 service="iCodeSystems.ShoppingCart.IRepository`2[[iCodeSystems.ShoppingCart.ICart, iCodeSystems.ShoppingCart.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"
                 type="iCodeSystems.ShoppingCart.CartRepository, iCodeSystems.ShoppingCart.CouchbaseRepository" />
      <component id="ICheckoutCart"
                 service="iCodeSystems.ShoppingCart.IRepository`2[[iCodeSystems.ShoppingCart.ICart, iCodeSystems.ShoppingCart.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"
                 type="iCodeSystems.ShoppingCart.CartRepository, iCodeSystems.ShoppingCart.CouchbaseRepository" />
    </components>
  </castle>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="iCodeSystems.ShoppingCart.Communication.CartService">
        <endpoint address="" binding="basicHttpBinding" contract="iCodeSystems.ShoppingCart.Communication.ICartService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://shoppingcartwcf.local/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
